@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@theme {
    --color-theme-main: #1F2630;
    --color-theme-secondary: #8198A5;
    --color-theme-gray: #F4F4F6;
    --color-theme-black: #03314B;
    --color-theme-blue: #908FEC;
    --color-theme-primary: #3500D4;
    --color-theme-danger: #F61C7A;
    --color-theme-green: #F3FBED;
    --font-inter: "Inter", sans-serif;
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none;margin:0;}

body{@apply font-inter bg-gray-400 overflow-hidden;}
.wrap{@apply relative max-w-[360px] h-screen mx-auto bg-theme-main;}
.content{@apply h-[calc(100vh-64px)] pt-5 px-6 pb-16 overflow-y-scroll;}

::-webkit-scrollbar{@apply hidden w-1 h-1 bg-[#f4f5f7];}
::-webkit-scrollbar-thumb{@apply rounded-xs bg-gray-400/20;}
::-webkit-scrollbar-track{@apply rounded-none;}

.block__line{@apply -mx-6 border-t-2 border-dashed border-[#8EE04E];}

.header{@apply h-[50px];}
.header__inner{@apply w-full bg-white select-none;}
.header__content{@apply relative flex items-center justify-center px-6 h-[50px];}
.header__content__left{@apply absolute top-0 left-6 flex items-center justify-center h-full;}
.header__btn__back{@apply flex items-center justify-center w-10 h-10 rounded-full border border-theme-blue cursor-pointer;}
.header__btn__back svg{@apply text-theme-danger;}
.header__content__left h4{@apply text-lg font-bold leading-7 text-theme-black;}
.header__content__center h4{@apply text-lg font-bold leading-7 text-theme-black;}

.tabbar{@apply fixed bottom-0 flex items-end justify-between w-[360px] h-16 pt-3.5 px-5 text-xs bg-theme-main;}
.tabbar__item{@apply flex flex-col items-center justify-end text-gray-500 font-normal cursor-pointer;}
.tabbar__item span{@apply mt-1.5;}
.tabbar__item.on span{@apply text-white;}

.btn{@apply flex items-center justify-center w-full h-[60px] rounded-3xl cursor-pointer;}
.btn span{@apply text-base font-bold leading-[26px] text-white;}
.btn.primary{@apply bg-theme-primary;}
.btn.danger{@apply bg-theme-danger;}

.input__container{@apply relative w-full;}
.input__container__input{@apply block w-full px-6 py-[19px] text-sm border border-theme-gray rounded-3xl bg-transparent appearance-none focus:outline-none focus:ring-0 focus:border-theme-blue;}
.input__container__label{@apply absolute top-4 left-6 text-base text-theme-secondary leading-[26px] duration-300 transform -translate-y-4 scale-75 origin-[0] bg-white z-10 peer-focus:px-2 peer-focus:text-theme-blue peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-5 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1;}
.input__container .password__toggle{@apply absolute top-1/2 right-0 cursor-pointer -translate-y-1/2;}
.input__container .password__toggle input{@apply pr-12;}
.input__container .password__toggle svg{@apply absolute top-1/2 right-4 w-5 h-auto text-gray-300 translate-y-[-50%];}
.frm_error{@apply peer-focus:invalid:text-red-400;}

.auth__heading{@apply mb-11;}
.auth__subtitle{@apply mt-9;}
.auth__subtitle h1{@apply text-2xl font-bold text-[#03314B] leading-[34px];}
.auth__subtitle p{@apply mt-4 text-sm font-normal text-theme-secondary leading-6;}

.auth__form__container{@apply flex justify-between items-start flex-col gap-5;}
.auth__button__container{@apply mt-5;}

.profilePanel__container{@apply flex items-center justify-start mb-6 gap-6;}
.profilePanel__container__img img{@apply w-20 rounded-full;}
.profilePanel__container__name h4{@apply text-lg font-bold leading-7 text-[#03314B];}
.profilePanel__container__name p{@apply mt-1 text-sm font-normal leading-6 text-theme-secondary;}

.referralPanel__container{@apply flex items-center justify-start w-full mb-8 px-6 py-5 rounded-2xl bg-theme-green gap-4 cursor-pointer;}
.referralPanel__container__left img{@apply w-8 object-none;}
.referralPanel__container__right h4{@apply text-sm font-bold leading-6 text-[#03314B];}
.referralPanel__container__right p{@apply mt-1 text-xs font-medium leading-4 text-[#03314B];}

.settingPanel__container{@apply mt-8;}
.settingPanel__container__items{@apply relative flex justify-start flex-col gap-3;}
.settingPanel__container__items__item{@apply relative flex justify-between items-center py-2.5 cursor-pointer;}
.settingPanel__container__items__icon{@apply flex items-center justify-center w-8 h-8 rounded-xl bg-theme-danger;}
.settingPanel__container__items__icon svg{@apply text-white;}
.settingPanel__container__items__title{@apply flex justify-start items-center gap-4;}
.settingPanel__container__items__title span{@apply font-bold text-sm leading-6 text-[#03314B];}
.settingPanel__container__items__right{@apply flex items-center justify-center gap-4;}
.settingPanel__container__items__right span{@apply text-sm font-bold leading-6 text-[#6C727F];}

.languages__list{@apply flex items-start justify-start flex-col gap-4;}
.languages__item{@apply flex items-center justify-between w-full p-5 rounded-3xl border border-solid border-theme-gray bg-white cursor-pointer;}
.languages__item.active{@apply bg-theme-primary;}
.languages__item__title{@apply flex items-center justify-start gap-4;}
.languages__item__title span{@apply text-sm font-bold leading-6 text-gray-900;}
.languages__item.active span{@apply text-white;}

.coin__list__container{@apply mt-6;}
.coin__list__container__title h4{@apply text-lg font-bold leading-7 text-theme-black;}
.coin__list__container__items{@apply relative flex justify-start flex-col mt-4 gap-8;}
.coin__list__container__item{@apply relative flex justify-between items-center cursor-pointer;}
.coin__list__container__item__icon{@apply flex justify-start items-center gap-4;}
.coin__list__container__item__icon .coin__icon img{@apply w-12 h-12 rounded-full;}
.coin__list__container__item__icon .coin__name h4{@apply text-lg font-bold leading-7 text-theme-black;}
.coin__list__container__item__icon .coin__name p{@apply mt-1 text-xs font-bold leading-4 text-theme-secondary;}
.coin__list__container__item__price{@apply text-right;}
.coin__list__container__item__price h4{@apply text-lg font-bold leading-7 text-theme-black;}
.coin__list__container__item__price span{@apply mt-1 text-xs font-bold leading-4;}
.coin__list__container__item__price span.down{@apply text-red-500;}
.coin__list__container__item__price span.up{@apply text-green-500;}

.stock__statistics__container{@apply mt-6;}
.stock__statistics__title h4{@apply text-lg font-bold leading-7 text-theme-black;}
.stock__statistics__content{@apply grid grid-cols-3 mt-4 py-6 px-3 bg-theme-gray rounded-3xl gap-x-3 gap-y-6;}
.stock__statistics__item{@apply text-center;}
.stock__statistics__item h4{@apply text-xs font-bold leading-4 text-[#6C727F];}
.stock__statistics__item p{@apply mt-2 text-lg font-bold leading-7 text-theme-black;}

.stock__button__container{@apply flex justify-start items-center mt-7 gap-3.5;}

.stock__detail__price{@apply mt-6 pl-6 rounded-xs border-l-2 border-l-[#8EE5CB];}
.stock__detail__price h4{@apply text-3xl font-bold leading-7 text-theme-black;}
.stock__detail__price h4 small{@apply text-lg text-[#6C727F];}
.stock__detail__price p{@apply mt-1 text-lg font-bold leading-5 text-theme-black;}
.stock__detail__price p small{@apply text-sm text-[#6C727F];}
.stock__detail__price p span{@apply ml-3 text-sm font-bold leading-6 text-theme-danger;}

.stock__trading__container{@apply mt-6;}

.slider__container{@apply mt-3;}
.slider__container .swiper{@apply relative w-full h-auto overflow-hidden;}
.slider__container .swiper-slide img{@apply w-full h-auto rounded-xl;}



































