@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import "tailwindcss";

@theme {
    --color-theme-main: #0F0F0F;
    --color-theme-secondary: #6C737B;
    --color-theme-gray: #F4F4F6;
    --color-theme-black: #03314B;
    --color-theme-blue: #908FEC;
    --color-theme-primary: #3500D4;
    --color-theme-danger: #D9304E;
    --color-theme-green: #F3FBED;
    --font-inter: "Inter", sans-serif;
    --font-IBM: "IBM Plex Sans", sans-serif;
    --theme-screen: "500px"
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none;margin:0;}

body,html{@apply flex justify-center w-full h-full m-0 p-0 font-inter text-justify bg-[#9195a3] select-none overflow-hidden;}
.wrap{@apply relative w-[500px] min-h-screen h-fit bg-theme-main;}
.content{@apply max-h-screen h-screen pt-16 px-3 pb-16 overflow-y-scroll;}

::-webkit-scrollbar{@apply hidden w-1 h-1 bg-[#f4f5f7];}
::-webkit-scrollbar-thumb{@apply rounded-xs bg-gray-400/20;}
::-webkit-scrollbar-track{@apply rounded-none;}

.header{@apply fixed top-0 w-[500px] h-[50px] z-10;}
.header__inner{@apply bg-theme-main select-none;}
.header__content{@apply relative flex items-center justify-center px-3 h-[50px];}
.header__content__left{@apply absolute top-0 left-3 flex items-center justify-center h-full;}
.header__btn__back{@apply relative cursor-pointer;}
.header__btn__back svg{@apply w-6 h-6 text-white;}
.header__content__left h4{@apply text-base font-medium leading-7 text-white;}
.header__content__center h4{@apply text-sm font-normal leading-7 text-white;}
.header__content__right{@apply absolute right-3;}
.header__content__right svg{@apply w-6 h-6 text-white;}
.header__content__right .notification__dot{@apply absolute top-0 right-1 w-2.5 h-2.5 rounded-full border border-theme-main bg-theme-danger;}

.tabbar{@apply fixed bottom-0 flex items-end justify-between w-[500px] h-16 pt-3.5 px-3 text-xs bg-theme-main;}
.tabbar__item{@apply flex flex-col items-center justify-end text-gray-500 font-normal cursor-pointer;}
.tabbar__item span{@apply mt-1.5;}
.tabbar__item.on span{@apply text-white;}

.auth__heading{@apply mb-11;}
.auth__subtitle{@apply mt-9;}
.auth__subtitle h1{@apply text-2xl font-bold text-[#929AA5] leading-[34px];}
.auth__subtitle p{@apply mt-4 text-sm font-normal text-[#929AA5] leading-6;}

.auth__form__container{@apply flex justify-between items-start flex-col gap-6;}
.auth__button__container{@apply mt-6;}
.auth__footer{@apply mt-6;}
.auth__footer p{@apply text-sm font-normal leading-6 text-[#929AA5] text-center;}
.auth__footer p a{@apply text-white hover:underline;}

.profilePanel__container{@apply flex items-center justify-start gap-6;}
.profilePanel__container__img img{@apply w-20 rounded-full;}
.profilePanel__container__name h4{@apply text-lg font-bold leading-7 text-white;}
.profilePanel__container__name p{@apply mt-1 text-sm font-normal leading-6 text-theme-secondary;}

.settingPanel__container{@apply mt-8;}
.settingPanel__container__items{@apply relative flex justify-start flex-col mt-5 rounded-2xl bg-[#191A1F] first:mt-0;}
.settingPanel__container__items__item{@apply relative flex justify-between items-center max-h-[52px] py-4 mx-3 border-b border-b-[#E4FCFF]/5 cursor-pointer last:border-0;}
.settingPanel__container__items__icon svg{@apply w-5 h-5 text-white;}
.settingPanel__container__items__title{@apply flex justify-start items-center gap-3;}
.settingPanel__container__items__title span{@apply font-normal text-sm leading-5 text-white;}
.settingPanel__container__items__right{@apply flex items-center justify-center gap-4;}
.settingPanel__container__items__right span{@apply text-sm font-bold leading-6 text-[#6C727F];}
.settingPanel__container__items__right svg{@apply w-5 h-5 text-[#6C727F];}
.settingPanel__container__items__right .notification__count{@apply flex justify-center items-center w-5 h-5 text-xs font-normal text-white rounded-full bg-theme-danger;}

.languages__list{@apply flex items-start justify-start flex-col gap-4;}
.languages__item{@apply flex items-center justify-between w-full p-5 rounded-3xl border border-solid border-theme-gray bg-white cursor-pointer;}
.languages__item.active{@apply bg-theme-primary;}
.languages__item__title{@apply flex items-center justify-start gap-4;}
.languages__item__title span{@apply text-sm font-bold leading-6 text-gray-900;}
.languages__item.active span{@apply text-white;}

.coin__list__container{@apply mt-6;}
.coin__list__container__title h4{@apply text-base font-bold leading-5 text-white;}
.coin__list__container__items{@apply relative flex justify-start flex-col mt-4 gap-2;}
.coin__list__container__item{@apply relative flex justify-between items-center py-3.5 px-3 rounded-2xl bg-[#24252C] cursor-pointer;}
.coin__list__container__item__icon{@apply flex justify-start items-center gap-3;}
.coin__list__container__item__icon .coin__icon img{@apply w-10 h-10 rounded-full;}
.coin__list__container__item__icon .coin__name h4{@apply text-sm font-normal leading-5 text-white;}
.coin__list__container__item__icon .coin__name p{@apply text-sm font-normal leading-4 text-theme-secondary;}
.coin__list__container__item__price{@apply text-right;}
.coin__list__container__item__price h4{@apply text-sm font-normal leading-5 text-white;}
.coin__list__container__item__price span{@apply mt-1 text-xs font-normal leading-5;}
.coin__list__container__item__price span.down{@apply text-red-500;}
.coin__list__container__item__price span.up{@apply text-green-500;}

.coin__list__container__item.loading{@apply animate-pulse pointer-events-none;}
.coin__list__container__item.loading .coin__icon div{@apply w-10 h-10 rounded-full bg-white opacity-50;}
.coin__list__container__item.loading .coin__name h4{@apply w-24 h-4 bg-white opacity-50 rounded mb-2;}
.coin__list__container__item.loading .coin__name p{@apply w-16 h-3 bg-white opacity-50 rounded;}
.coin__list__container__item.loading .coin__list__container__item__price h4{@apply w-28 h-4 bg-white opacity-50 rounded mb-2;}
.coin__list__container__item.loading .coin__list__container__item__price p{@apply w-16 h-3 bg-white opacity-50 rounded ml-auto;}

.stock__statistics__container{@apply mt-6;}
.stock__statistics__title h4{@apply text-lg font-bold leading-7 text-theme-black;}
.stock__statistics__content{@apply grid grid-cols-3 mt-4 py-6 px-3 bg-theme-gray rounded-3xl gap-x-3 gap-y-6;}
.stock__statistics__item{@apply text-center;}
.stock__statistics__item h4{@apply text-xs font-bold leading-4 text-[#6C727F];}
.stock__statistics__item p{@apply mt-2 text-lg font-bold leading-7 text-theme-black;}

.stock__button__container{@apply flex justify-start items-center mt-7 gap-3.5;}

.stock__detail__price{@apply mt-6 pl-6 rounded-xs border-l-2 border-l-[#8EE5CB];}
.stock__detail__price h4{@apply text-3xl font-bold leading-7 text-theme-black;}
.stock__detail__price h4 small{@apply text-lg text-[#6C727F];}
.stock__detail__price p{@apply mt-1 text-lg font-bold leading-5 text-theme-black;}
.stock__detail__price p small{@apply text-sm text-[#6C727F];}
.stock__detail__price p span{@apply ml-3 text-sm font-bold leading-6 text-theme-danger;}

.stock__trading__container{@apply mt-6;}

.slider__container .swiper{@apply relative w-full h-auto overflow-hidden;}
.slider__container .swiper-slide img{@apply w-full h-auto rounded-xl;}


.btn{@apply flex items-center justify-center w-full h-10 text-sm font-medium rounded-sm cursor-pointer;}
.btn__disabled{@apply text-[#5E6673] bg-[#2B2F36] pointer-events-none;}
.btn__primary{@apply text-gray-800 bg-linear-to-t from-[#F0B90B] to-[#F8D12F] hover:bg-[#F8D12F];}
.btn__danger{@apply text-white bg-theme-danger hover:bg-[#F84960];}
.btn__success{@apply text-white bg-[#02C076] hover:bg-[#2ED191];}
.btn__secondary{@apply text-white bg-[#24252C];}
.btn__secondary__outlined{@apply text-white border border-[#474D57] bg-transparent hover:border-[#6A4C0C] hover:bg-[#281F0B];}
.btn__danger__outlined{@apply text-[#F84960] border border-[#982A42] bg-transparent hover:border-[#982A42] hover:bg-[#221113];}

.form__control{@apply relative flex flex-col w-full;}
.form__label{@apply mb-1 text-sm font-normal text-[#929AA5];}
.form__input{@apply relative flex items-center gap-2;}
.form__input input{@apply w-full h-10 px-2 text-sm text-[#E6E8EA] border border-[#474D57] rounded-sm outline-none appearance-none hover:border-[#F0B90B] focus:border-[#F0B90B] disabled:text-[#5E6673] disabled:bg-[#2B2F36] disabled:hover:border-[#474D57];}
.form__input input.is__valid{@apply border-[#F84960];}
.form__input .btn__clear{@apply absolute right-2;}
.invalid__feedback{@apply mt-1 text-xs text-[#F84960];}

.coin__box__container{@apply w-full py-3.5 px-3 rounded-2xl bg-[#24252C];}
.coin__box__container h4{@apply text-sm font-normal leading-5 text-white opacity-50;}
.coin__box__price{@apply mt-[26px];}
.coin__box__price h5{@apply text-[32px] font-semibold leading-[38px] text-white;}
.coin__box__price p{@apply mt-1 text-sm font-normal leading-5 text-white opacity-50;}
.coin__button__container{@apply flex mt-4 gap-2.5;}

.notification__list__container__items{@apply relative flex flex-col justify-start gap-3;}
.notification__list__container__item{@apply relative flex justify-start items-start py-4 px-3 rounded-2xl bg-[#191A1F] gap-3;}
.notification__list__container__item__icon{@apply flex items-center justify-center w-9 h-9 rounded-full bg-[#24252C];}
.notification__list__container__item__icon svg{@apply w-5 h-5 text-white;}
.notification__list__container__item__text{@apply w-full;}
.notification__list__container__item__text h4{@apply flex justify-between items-center text-sm font-medium leading-5 text-white;}
.notification__list__container__item.unread{@apply cursor-pointer;}
.notification__list__container__item.unread .unread__dot{@apply w-2 h-2 rounded-full bg-theme-danger;}
.notification__list__container__item__text p{@apply text-sm font-normal leading-5 text-[#6C737B];}
.notification__list__container__item__text span{@apply mt-2 text-sm font-normal leading-5 text-[#6C737B];}

.nodata__container{@apply flex justify-center items-center flex-col absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full px-5;}
.nodata__container .nodata__title h4{@apply mt-5 text-lg font-bold leading-5 text-center text-[#6C737B];}
.nodata__container .nodata__title p{@apply mt-1 text-sm font-normal leading-5 text-center text-[#6C737B];}

.popup{@apply absolute top-0 left-0 w-full h-full bg-[#0F0F0F]/80 overflow-x-hidden overflow-y-auto outline-0 z-[1055];}
.popup__dialog{@apply absolute bottom-0 w-full pointer-events-none;}
.popup__content{@apply relative w-full rounded-tl-2xl rounded-tr-2xl bg-[#191D27] bg-clip-padding outline-0;}

.betPanel__container{@apply px-5;}

.timer__row{@apply flex justify-between w-full gap-2;}
.timer__container .item{@apply flex items-center justify-center flex-col w-full h-auto py-1.5 text-xs text-white text-center rounded-sm bg-[#24252C] cursor-pointer;}
.timer__container .item span{@apply text-xl font-bold text-[#F0B90B];}
.timer__container .item.active{@apply text-white bg-theme-main;}

.tabs{@apply flex items-center justify-start p-1.5 rounded-xl bg-[#161C22] gap-2;}
.tabs .tab__item{@apply flex items-center justify-center w-full h-9 text-sm font-light text-white text-center rounded-xl flex-1 cursor-pointer;}
.tabs .tab__item.active{@apply bg-[#24252C];}

.transactions__list__container{@apply mt-5;}
.transactions__list__container__items{@apply relative flex flex-col justify-start gap-3;}
.transactions__list__container__item{@apply flex justify-start items-start gap-3;}
.transactions__list__container__item:last-child .transactions__list__container__item__right{@apply border-none;}
.transactions__list__container__item__left{@apply flex justify-between items-start py-4 gap-3;}
.transactions__list__container__item__right{@apply flex justify-between items-start w-full py-4 border-b border-b-[#E4FCFF]/7;}
.transactions__list__container__item .transactions__icon{@apply flex items-center justify-center w-9 h-9 rounded-full bg-[#24252C];}
.transactions__list__container__item .transactions__icon svg{@apply w-5 h-5 text-white;}
.transactions__list__container__item .transactions__title h4{@apply text-sm font-medium leading-5 text-white;}
.transactions__list__container__item .transactions__title span{@apply text-sm font-normal leading-5 text-[#6C737B];}
.transactions__list__container__item .transactions__list__container__item__right h4{@apply text-sm font-medium leading-5 text-white;}

.balance__assets{@apply relative w-full h-36 mb-4 pt-3.5 px-3 text-white rounded-[10px] bg-[url('../src/assets/img/bg/bg_total_assets.png')] bg-no-repeat bg-center bg-cover;}
.balance__assets__header{@apply flex items-center h-5 text-xs font-normal;}
.balance__assets__header svg{@apply w-4 h-4 mr-2;}
.balance__assets__main{@apply flex items-center mt-2 mr-3.5 mb-3.5 text-2xl font-bold;}
.balance__assets__main h4{@apply ml-2.5;}

.deposit__container{@apply relative w-full;}
.deposit__content{@apply mb-4 py-4 px-3 rounded-[10px] bg-[#24252C];}
.deposit__content__title{@apply flex mb-3 text-base font-bold leading-5 text-white;}
.deposit__content__list{@apply flex flex-wrap mb-2.5 gap-1.5;}
.deposit__content__list__item{@apply w-[calc((100%-12px)/3)];}
.deposit__content__list__item.active button{@apply border-[#6A4C0C] bg-[#281F0B];}

.deposit__container__intro__lists{@apply rounded-[10px] pt-1.5 pl-2.5 pb-1.5 pr-4 border border-solid border-gray-300/25;}
.deposit__container__intro__lists p{@apply relative my-2 pl-3 text-xs font-normal leading-5 text-left text-white;}
.deposit__container__intro__lists p::after{@apply content-[""] absolute top-[7px] -left-0.5 w-[5px] h-[5px] bg-white rotate-[42deg];}

.buttonPanel__fixed__container{@apply fixed left-0 bottom-0 right-0 -mx-5 z-10;}
.buttonPanel__fixed__box{@apply flex max-w-[500px] mx-auto py-3 px-3 bg-[#24252C];}
.buttonPanel__fixed__box button span{@apply ml-2;}

@media(max-width:600px){
    .wrap{@apply w-screen;}
    .header{@apply w-full;}
    .tabbar{@apply w-full;}
    .buttonPanel__fixed__container{@apply left-5 right-5;}
    .buttonPanel__fixed__box{@apply max-w-full;}
}







