@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import "tailwindcss";

@theme {
    --color-theme-main: #0F0F0F;
    --color-theme-secondary: #6C737B;
    --color-theme-gray: #F4F4F6;
    --color-theme-black: #03314B;
    --color-theme-blue: #908FEC;
    --color-theme-primary: #3500D4;
    --color-theme-danger: #F61C7A;
    --color-theme-green: #F3FBED;
    --font-inter: "Inter", sans-serif;
    --font-IBM: "IBM Plex Sans", sans-serif;
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none;margin:0;}

body{@apply font-inter bg-gray-400 overflow-hidden;}
.wrap{@apply relative max-w-[420px] h-screen mx-auto bg-theme-main;}
.content{@apply h-[calc(100vh-64px)] pt-5 px-6 pb-16 overflow-y-scroll;} 

::-webkit-scrollbar{@apply hidden w-1 h-1 bg-[#f4f5f7];}
::-webkit-scrollbar-thumb{@apply rounded-xs bg-gray-400/20;}
::-webkit-scrollbar-track{@apply rounded-none;}

.block__line{@apply -mx-6 border-t border-dashed border-[#474D57];}

.header{@apply h-[50px];}
.header__inner{@apply w-full bg-theme-main select-none;}
.header__content{@apply relative flex items-center justify-center px-6 h-[50px];}
.header__content__left{@apply absolute top-0 left-6 flex items-center justify-center h-full;}
.header__btn__back{@apply flex items-center justify-center w-10 h-10 rounded-full border border-theme-blue cursor-pointer;}
.header__btn__back svg{@apply text-theme-danger;}
.header__content__left h4{@apply text-lg font-medium leading-7 text-white;}
.header__content__center h4{@apply text-lg font-medium leading-7 text-white;}

.tabbar{@apply fixed bottom-0 flex items-end justify-between w-[420px] h-16 pt-3.5 px-5 text-xs bg-theme-main;}
.tabbar__item{@apply flex flex-col items-center justify-end text-gray-500 font-normal cursor-pointer;}
.tabbar__item span{@apply mt-1.5;}
.tabbar__item.on span{@apply text-white;}

.auth__heading{@apply mb-11;}
.auth__subtitle{@apply mt-9;}
.auth__subtitle h1{@apply text-2xl font-bold text-[#929AA5] leading-[34px];}
.auth__subtitle p{@apply mt-4 text-sm font-normal text-[#929AA5] leading-6;}

.auth__form__container{@apply flex justify-between items-start flex-col gap-6;}
.auth__button__container{@apply mt-6;}
.auth__footer{@apply mt-6;}
.auth__footer p{@apply text-sm font-normal leading-6 text-[#929AA5] text-center;}
.auth__footer p a{@apply text-white hover:underline;}

.profilePanel__container{@apply flex items-center justify-start mb-6 gap-6;}
.profilePanel__container__img img{@apply w-20 rounded-full;}
.profilePanel__container__name h4{@apply text-lg font-bold leading-7 text-white;}
.profilePanel__container__name p{@apply mt-1 text-sm font-normal leading-6 text-theme-secondary;}

.referralPanel__container{@apply flex items-center justify-start w-full mb-8 px-6 py-5 rounded-2xl bg-theme-green gap-4 cursor-pointer;}
.referralPanel__container__left img{@apply w-8 object-none;}
.referralPanel__container__right h4{@apply text-sm font-bold leading-6 text-[#03314B];}
.referralPanel__container__right p{@apply mt-1 text-xs font-medium leading-4 text-[#03314B];}

.settingPanel__container{@apply mt-8;}
.settingPanel__container__items{@apply relative flex justify-start flex-col gap-3;}
.settingPanel__container__items__item{@apply relative flex justify-between items-center py-2.5 cursor-pointer;}
.settingPanel__container__items__icon{@apply flex items-center justify-center w-8 h-8 rounded-xl bg-[#F0B90B];}
.settingPanel__container__items__icon svg{@apply text-white;}
.settingPanel__container__items__title{@apply flex justify-start items-center gap-4;}
.settingPanel__container__items__title span{@apply font-normal text-sm leading-6 text-[#929AA5];}
.settingPanel__container__items__right{@apply flex items-center justify-center gap-4;}
.settingPanel__container__items__right span{@apply text-sm font-bold leading-6 text-[#6C727F];}
.settingPanel__container__items__right svg{@apply text-[#6C727F];}

.languages__list{@apply flex items-start justify-start flex-col gap-4;}
.languages__item{@apply flex items-center justify-between w-full p-5 rounded-3xl border border-solid border-theme-gray bg-white cursor-pointer;}
.languages__item.active{@apply bg-theme-primary;}
.languages__item__title{@apply flex items-center justify-start gap-4;}
.languages__item__title span{@apply text-sm font-bold leading-6 text-gray-900;}
.languages__item.active span{@apply text-white;}

.coin__list__container{@apply mt-6;}
.coin__list__container__title h4{@apply text-base font-bold leading-5 text-white;}
.coin__list__container__items{@apply relative flex justify-start flex-col mt-4 gap-2;}
.coin__list__container__item{@apply relative flex justify-between items-center py-3.5 px-3 rounded-2xl bg-[#24252C] cursor-pointer;}
.coin__list__container__item__icon{@apply flex justify-start items-center gap-3;}
.coin__list__container__item__icon .coin__icon img{@apply w-10 h-10 rounded-full;}
.coin__list__container__item__icon .coin__name h4{@apply text-sm font-normal leading-5 text-white;}
.coin__list__container__item__icon .coin__name p{@apply text-sm font-normal leading-4 text-theme-secondary;}
.coin__list__container__item__price{@apply text-right;}
.coin__list__container__item__price h4{@apply text-sm font-normal leading-5 text-white;}
.coin__list__container__item__price span{@apply mt-1 text-xs font-normal leading-5;}
.coin__list__container__item__price span.down{@apply text-red-500;}
.coin__list__container__item__price span.up{@apply text-green-500;}

.coin__list__container__item.loading{@apply animate-pulse pointer-events-none;}
.coin__list__container__item.loading .coin__icon div{@apply w-10 h-10 rounded-full bg-white opacity-50;}
.coin__list__container__item.loading .coin__name h4{@apply w-24 h-4 bg-white opacity-50 rounded mb-2;}
.coin__list__container__item.loading .coin__name p{@apply w-16 h-3 bg-white opacity-50 rounded;}
.coin__list__container__item.loading .coin__list__container__item__price h4{@apply w-28 h-4 bg-white opacity-50 rounded mb-2;}
.coin__list__container__item.loading .coin__list__container__item__price p{@apply w-16 h-3 bg-white opacity-50 rounded ml-auto;}

.stock__statistics__container{@apply mt-6;}
.stock__statistics__title h4{@apply text-lg font-bold leading-7 text-theme-black;}
.stock__statistics__content{@apply grid grid-cols-3 mt-4 py-6 px-3 bg-theme-gray rounded-3xl gap-x-3 gap-y-6;}
.stock__statistics__item{@apply text-center;}
.stock__statistics__item h4{@apply text-xs font-bold leading-4 text-[#6C727F];}
.stock__statistics__item p{@apply mt-2 text-lg font-bold leading-7 text-theme-black;}

.stock__button__container{@apply flex justify-start items-center mt-7 gap-3.5;}

.stock__detail__price{@apply mt-6 pl-6 rounded-xs border-l-2 border-l-[#8EE5CB];}
.stock__detail__price h4{@apply text-3xl font-bold leading-7 text-theme-black;}
.stock__detail__price h4 small{@apply text-lg text-[#6C727F];}
.stock__detail__price p{@apply mt-1 text-lg font-bold leading-5 text-theme-black;}
.stock__detail__price p small{@apply text-sm text-[#6C727F];}
.stock__detail__price p span{@apply ml-3 text-sm font-bold leading-6 text-theme-danger;}

.stock__trading__container{@apply mt-6;}

.slider__container{@apply mt-3;}
.slider__container .swiper{@apply relative w-full h-auto overflow-hidden;}
.slider__container .swiper-slide img{@apply w-full h-auto rounded-xl;}


.btn{@apply flex items-center justify-center w-full h-10 text-sm font-medium rounded-sm cursor-pointer;}
.btn__disabled{@apply text-[#5E6673] bg-[#2B2F36] pointer-events-none;}
.btn__primary{@apply text-gray-800 bg-linear-to-t from-[#F0B90B] to-[#F8D12F] hover:bg-[#F8D12F];}
.btn__danger{@apply text-white bg-[#D9304E] hover:bg-[#F84960];}
.btn__success{@apply text-white bg-[#02C076] hover:bg-[#2ED191];}
.btn__secondary{@apply text-white bg-[#24252C];}
.btn__secondary__outlined{@apply text-white border border-[#474D57] bg-transparent hover:border-[#6A4C0C] hover:bg-[#281F0B];}
.btn__danger__outlined{@apply text-[#F84960] border border-[#982A42] bg-transparent hover:border-[#982A42] hover:bg-[#221113];}

.form__control{@apply relative flex flex-col w-full;}
.form__label{@apply mb-1 text-sm font-normal text-[#929AA5];}
.form__input{@apply relative flex items-center gap-2;}
.form__input input{@apply w-full h-10 px-2 text-sm text-[#E6E8EA] border border-[#474D57] rounded-sm outline-none appearance-none hover:border-[#F0B90B] focus:border-[#F0B90B] disabled:text-[#5E6673] disabled:bg-[#2B2F36] disabled:hover:border-[#474D57];}
.form__input input.is__valid{@apply border-[#F84960];}
.form__input .btn__clear{@apply absolute right-2;}
.invalid__feedback{@apply mt-1 text-xs text-[#F84960];}

.combo__control{@apply relative flex flex-col w-full;}
.combo__control input{@apply w-full h-10 px-2 text-sm text-[#E6E8EA] border border-[#474D57] rounded-sm outline-none appearance-none;}
/* .combo__control img{@apply absolute top-0 right-3;} */
.combo__layer{@apply mt-1 py-3 px-3 rounded-sm bg-[#2B2F36];}
.combo__search{@apply relative;}
.combo__search input{@apply w-full h-10 pl-8 pr-2 text-sm text-[#E6E8EA] border border-[#474D57] rounded-sm outline-none appearance-none;}
.combo__search .btn__search{@apply absolute top-1/2 left-2 -translate-y-1/2;}
.combo__search .btn__search img{@apply w-6;}
.combo__content{@apply mt-4;}

.table__container table{@apply w-full;}
.table__container th{@apply min-h-10 h-10 align-middle;}
.table__container th div{@apply flex items-center justify-start font-inter text-xs font-normal text-gray-500;}

.coin__box__container{@apply w-full py-3.5 px-3 rounded-2xl bg-[#24252C];}
.coin__box__container h4{@apply text-sm font-normal leading-5 text-white opacity-50;}
.coin__box__price{@apply mt-[26px];}
.coin__box__price h5{@apply text-[32px] font-semibold leading-[38px] text-white;}
.coin__box__price p{@apply mt-1 text-sm font-normal leading-5 text-white opacity-50;}
.coin__button__container{@apply flex mt-4 gap-2.5;}








