<div
    class="app__sidebar__container"
>
    <div class="app__sidebar__logo">

    </div>
    <div class="app__sidebar__menu">
        <div class="app__sidebar__menu__wraper">
            <div class="app__sidebar__menu__item">
                <div class="app__sidebar__menu__content">
                    <span>Overview</span>
                </div>
            </div>
            <div class="app__sidebar__menu__item">
                <div class="app__sidebar__menu__link">
                    <span class="menu__icon"></span>
                    <span class="menu__title">Dashboards</span>
                    <span class="menu__arrow"></span>
                </div>
                <div class="app__sidebar__menu__sub">
                    <div class="app__sidebar__menu__item">
                        <div class="app__sidebar__menu__link">
                            <span class="menu__title">Default</span>
                        </div>
                    </div>
                    <div class="app__sidebar__menu__item">
                        <div class="app__sidebar__menu__link">
                            <span class="menu__title">eCommerce</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="app__sidebar__menu__item">
                <div class="app__sidebar__menu__content">
                    <span>Pages</span>
                </div>
            </div>
            <div class="app__sidebar__menu__item">
                <div class="app__sidebar__menu__link">
                    <span class="menu__icon"></span>
                    <span class="menu__title">Customers</span>
                    <span class="menu__arrow"></span>
                </div>
                <div class="app__sidebar__menu__sub">
                    <div class="app__sidebar__menu__item">
                        <div class="app__sidebar__menu__link">
                            <span class="menu__title">Customer Listing</span>
                        </div>
                    </div>
                    <div class="app__sidebar__menu__item">
                        <div class="app__sidebar__menu__link">
                            <span class="menu__title">Customer Creating</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="app__sidebar__menu__item">
                <div class="app__sidebar__menu__content">
                    <span>Other</span>
                </div>
            </div>
            <div class="app__sidebar__menu__item">
                <div class="app__sidebar__menu__link">
                    <span class="menu__icon"></span>
                    <span class="menu__title">Setting</span>
                </div>
            </div>
        </div>
    </div>
</div>
